.basic-anim {
  animation: anim 1s forwards;
}

@keyframes anim {
  from {
    opacity: 0;
    scale: 0;
    background: #c6242c;
  }
  to {
    opacity: 1;
    scale: 1;
    background: #1662d4;
  }
}
